<form method="post" action="{{ path('app_savings_delete', {'id': saving.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saving.id) }}">
    <button class="btn">Delete</button>
</form>
