{% extends 'base_dashboard.html.twig' %}

{% block title %}Ajouter une entrée d'argent exceptionnelle
{% endblock %}

{% block body %}
	<main class="container mx-5">
		<h1>Ajouter une entrée d'argent exceptionnelle</h1>
		{{ include('unexpected_incomes/_form.html.twig') }}

		<a class="btn btn-dark m-2" href="{{ path('app_unexpected_incomes_index') }}">Retour à la liste</a>
	</main>
{% endblock %}
