{% extends 'base.html.twig' %}

{% block title %}New UnexpectedIncomes{% endblock %}

{% block body %}
    <h1>Create new UnexpectedIncomes</h1>

    {{ include('unexpected_incomes/_form.html.twig') }}

    <a href="{{ path('app_unexpected_incomes_index') }}">back to list</a>
{% endblock %}
