@import "~bootstrap/scss/bootstrap";
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400&display=swap');
//to use it :     font-family: 'Noto Sans Mono', monospace;

// @impo wrt url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400&family=Oswald:wght@500&display=swap');
//to use it : 
// @font-face {
//     font-family: "Libre_Baskerville";
//     src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
// }
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
    }
html {
    height: 100%;
    margin: 0;
}

body {
    // background: linear-gradient(#ffffff, #75c7dc);
    background: whitesmoke;
    text-align: center;
    font-family: 'Oswald';
    height: 100%;
    margin: 0;
}

h1, h2 {
    margin: 1.3rem;
    font-weight: bolder;
}

h3, h4, h5 {
    margin: 1.3rem;
    font-weight: 500;
}

.img-cash{
    max-width: 80vw;
}

.table {
    font-size: large;
    font-weight: bold;
}


//Navbar ------------------
    .sidebar {
        width: fit-content;
    }
    

    @media only screen and (max-width: 720px) {

    .sidebar {
        display: none;
    }
  }
//End Navbar --------------

//CRUD Forms --------------

.btn {
    margin: 0.5rem;
    font-size: 1.3em ;
    font-weight: bold ;
    padding: 0.7rem;
}

.form-label {
    font-weight: bolder;
    font-size: 1.5rem ;
    padding: 1rem;
} 

.form-control{ 
    text-align: center;
    font-size: 1.5rem ;
    font-weight: normal ;
    padding: 0.5rem;
}

.form-control:focus {
    font-weight: bold ;
}


.crud-label {
    font-weight: bold;
    margin: auto;
}

.crud-input {
    margin-bottom: 1rem;
}

.crud-input:focus {
    font-weight: bold;
}

.crud-button {
    font-weight: bold;
    margin: 1.2rem;
    display: block;
    margin: auto;
}

.help-text {
font-size: 1.2rem;
font-weight:500;
margin: 1rem;
}

//End CRUD Forms ---------

//Onboarding ------------

.table-onboarding{
    padding: 1rem;
    border: 1px solid black;
}

.section-onboarding {
    margin-bottom: 3rem;
}

//End Onboaring --------

// Dashboard -----------

.calculated-amount {
    color: darkred;
    font-weight: 800;
}

.calculated-revenu {
    color: darkgreen;
    font-weight: 800;
}

//End Dashboard

//Navbar Top



//End Navbar