@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(92, 89, 89, 0.664);
    text-align: center;
}

h1, h2 {
    margin: 1.3rem;
    font-weight: bolder;
}

h3, h4, h5 {
    margin: 1.3rem;
    font-weight: bolder;
}

.btn {
    margin: auto;
    font-size: 1.3em ;
    font-weight: bold ;
    padding: 0.7rem;
}

.form-label {
    font-weight: bolder;
    font-size: 1.5rem ;
    padding: 1rem;
} 

.form-control{
    text-align: center;
    font-size: 1.5rem ;
    font-weight: normal ;
    padding: 0.5rem;
}

.form-control:focus {
    font-weight: bold ;
}

.sidebar {
    width: fit-content;
}

.crud-label {
    font-weight: bold;
    margin: auto;
}

.crud-input {
    margin-bottom: 1rem;
}

.crud-input:focus {
    font-weight: bold;
}

.crud-button {
    font-weight: bold;
    margin: 1rem;
    display: block;
    margin: auto;
}

.help-text {
font-size: 1.2rem;
font-weight:500;
margin: 1rem;
}

.section-onboarding {
    margin-bottom: 5rem;
}
