@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgba(92, 89, 89, 0.664);
    text-align: center;
}

h1, h2 {
    margin: 1.5rem;
    font-weight: bolder;
}

h3, h4, h5 {
    margin: 1rem;
    font-weight: bolder;
}



.form-label {
    font-weight: bolder;
    font-size: 1.5em ;
    padding: 1rem;
}

.btn {
    margin: auto;
    font-size: 1.3em ;
    font-weight: bold ;
    padding: 1rem;
}

.form-control {
    text-align: center;
    font-size: 1.5em ;
    font-weight: normal ;
    padding: 1rem;
}

.form-control:focus {
    font-weight: bold ;
}

.sidebar {
    width: fit-content;
}

.crud-label {
    font-weight: bold;
    margin: 1em;
}

.crud-input {
    margin-bottom: 1em;
}

.crud-input:focus {
    font-weight: bold;
}

.crud-button {
    font-weight: bold;

    display: block;
    margin: auto;
}