{% extends 'base_dashboard.html.twig' %}

{% block title %}Dépenses occasionnelles
{% endblock %}

{% block body %}
	<main class="container mx-5">
		<h1>Dépenses occasionnelles</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Libellé</th>
					<th>Montant</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if app.user %}
					{% for occasional_spending in app.user.occasionalSpendings %}
						<tr>
							<td>{{ occasional_spending.name|capitalize }}</td>
							<td>{{ occasional_spending.amount }}</td>
							<td>
								<a class="btn btn-warning" href="{{ path('app_occasional_spendings_edit', {'id': occasional_spending.id}) }}">Modifier</a>
								{% include "occasional_spendings/_delete_form.html.twig" %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucune donnée trouvée</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('app_occasional_spendings_new') }}">Ajouter une dépense</a>
	</main>
{% endblock %}
