{% extends 'base_dashboard.html.twig' %}

{% block title %}Ajouter une dépense occasionnelle
{% endblock %}

{% block body %}
	<main class="container mx-5">
		<h1>Ajouter une dépense occasionnelle</h1>
		{{ include('occasional_spendings/_form.html.twig') }}

		<a class="btn btn-dark m-2" href="{{ path('app_occasional_spendings_index') }}">Retour à la liste</a>
	</main>
{% endblock %}
