<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur Cash Control
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

		<link
		rel="icon" type="image/png" href="{{ asset('build/images/money-bag.png') }}"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% if app.user %}

			{% set totalEarnings = 0 %}
			{% for earning in app.user.earnings %}
				{% set totalEarnings = totalEarnings + earning.amount %}
			{% endfor %}

			{% set totalMonthlyExpenses = 0 %}
			{% for expense in app.user.monthlyExpenses %}
				{% set totalMonthlyExpenses = totalMonthlyExpenses + expense.amount %}
			{% endfor %}

			{% set totalOccasionalSpendings = 0 %}
			{% for spending in app.user.occasionalSpendings %}
				{% set totalOccasionalSpendings = totalOccasionalSpendings + spending.amount %}
			{% endfor %}

			{% set availableBudget = totalEarnings - totalMonthlyExpenses - totalOccasionalSpendings %}

			{% set advicedSavings = (totalEarnings / 100) * 10 %}

			{% set weeklyBudget = availableBudget / 4.5 %}

			{% set daysInMonth = "now"|date("t") %}

			{% set dailyBudget = availableBudget / daysInMonth %}

			{% set monthlyBudget = totalEarnings - totalMonthlyExpenses %}

			{% set advicedSavings = (totalEarnings / 100) * 10 %}

		{% endif %}
		<header>
			{# {% include "_navbar.html.twig" %} #}
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
