{% extends 'base.html.twig' %}

{% block title %}Démarrage
{% endblock %}

{% block body %}

	<h1>Bienvenue sur l'appli Cash-Control</h1>

	<h3>L'application qui vous permet de suivre vos dépenses pour ne plus vous retrouver à découvert à la fin du mois
	</h3>

	<h2>Démarrage :</h2>

	<h3>Afin d'utiliser l'application, vous devez tout d'abord créer un compte :</h3>

	<a class="btn btn-primary" href="{{ path('app_register') }}">S'inscrire</a>

	<h3>Sauf si vous en possédez déja un :</h3>

	<a class="btn btn-success" href="{{ path('app_login') }}">Se connecter</a>

	<h3>Si vous venez de créer votre compte, vous serez ensuite redirigé vers la page de démarrage qui vous permettra de nous communiquer vos différentes sources de revenus ainsi que vos différents frais mensuels de la vie quotidienne.</h3>
	<h3>Si vous avez déjà votre compte, vous serez redirigé vers votre dashboard à partir duquel vous pourrez mettre à jour vos revenus et vos dépenses, ainsi qu'ajouter les derniers paiements que vous avez effectués depuis votre dernière connexion.</h3>
	<h3>Grâce à ces informations, l'application sera en mesure de déterminer l'argent qu'il vous reste pour terminer le mois, ainsi que vous donner des suggestions d'épargne en fonction de votre situation financière.</h3>
	<h2>PARCE QUE L'AVENIR C'EST IMPORTANT : pensez à mettre de côté ou et investir !
	</h2>
	<h2>Comptez pas trop sur la retraite c'est mal barré...</h2>
{% endblock %}
