{% extends 'base_dashboard.html.twig' %}

{% set totalEarnings = 0 %}
{% for earning in app.user.earnings %}
	{% set totalEarnings = totalEarnings + earning.amount %}
{% endfor %}

{% set totalMonthlyExpenses = 0 %}
{% for expense in app.user.monthlyExpenses %}
	{% set totalMonthlyExpenses = totalMonthlyExpenses + expense.amount %}
{% endfor %}

{% set availableBudget = totalEarnings - totalMonthlyExpenses %}

{% set advicedSavings = (totalEarnings / 100) * 10 %}

{% set weeklyBudget = availableBudget / 4.5 %}

{% set daysInMonth = "now"|date("t") %}

{% set dailyBudget = availableBudget / daysInMonth %}

{% block title %}Suivre mon budget
{% endblock %}

{% block body %}
	<main class="container">
		<h1>
			{{app.user.username}}</h1>

		<section class="section-onboarding">
			<h4>Après avoir payé toute vos factures, il vous restera donc environ :
			</h4>
			<h4>
				<span class="calculated-amount">
					{{availableBudget}}
					€
				</spanclass="calculated-amount">
				pour finir le mois.
			</h4>
			<h4>Ce qui représente
				<span class="calculated-amount">
					{{weeklyBudget|round }}
					€
				</spanclass="calculated-amount">
				par semaine.
			</h4>
			<h4>Veuillez donc à ne pas dépenser plus que
				<span class="calculated-amount">
					{{dailyBudget|round}}
					€
				</spanclass="calculated-amount">
				en moyenne par jour.
			</h4>
		</section>
	</main>
{% endblock %}
